@font-face {
    src: url("/assets/ui/font_russo_one_regular.ttf");
}

.root{
    -fx-background-color: #000000;
}

.button {
    -fx-background-color: #a9e6e0;
    -fx-background-radius: 2;
    -fx-font-family: 'Russo One';
    -fx-text-fill: #2d2d2d;
    -fx-font-size: 20pt;
    -fx-min-width: 160px;
    -fx-max-width: 160px;
    -fx-min-height: 60;
    -fx-max-height: 60;
}

#button-wide{
    /* -fx-fit-to-width doesn't seem to work for buttons */
    -fx-min-width: 200px;
    -fx-max-width: 200px;
}

.button:hover{
    -fx-background-color: #8ec6c1;
}

.button:armed{
    -fx-background-color: #83b7b2;
}

#menu-header{
    -fx-font-family: "Russo One";
    -fx-font-size: 50px;
    -fx-text-fill: #F0F0F0;
}

#death-screen-header {
    -fx-font-family: "Russo One";
    -fx-font-size: 50px;
    -fx-text-fill: #FF0000;
}